#blinker.svelte-14wm1pi {
  margin-right: 12px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: rgba(225, 0, 255, 0.5);
  box-shadow: 0 0 10px 2px #e100ff80;
  animation: svelte-14wm1pi-blinker 0.5s ease-in-out infinite;
}
@keyframes svelte-14wm1pi-blinker {
  50% {
    opacity: 0.25;
  }
}
.glass.svelte-14wm1pi {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}
.glow-2.svelte-14wm1pi {
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
    0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff,
    0 0 80px #ff00ff;
}
.glow-3.svelte-14wm1pi {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000,
    0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000,
    0 0 80px #000000;
}
.glow-4.svelte-14wm1pi {
  text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff,
    0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff,
    0 0 80px #0000ff;
}
.glow-5.svelte-14wm1pi {
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00,
    0 0 80px #00ff00;
}
.glow-6.svelte-14wm1pi {
  text-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500,
    0 0 40px #ffa500, 0 0 50px #ffa500, 0 0 60px #ffa500, 0 0 70px #ffa500,
    0 0 80px #ffa500;
}
.glow-7.svelte-14wm1pi {
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000,
    0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000,
    0 0 80px #ff0000;
}
.glow-8.svelte-14wm1pi {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
    0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff,
    0 0 80px #ffffff;
}
.glow-9.svelte-14wm1pi {
  text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00,
    0 0 40px #ffff00, 0 0 50px #ffff00, 0 0 60px #ffff00, 0 0 70px #ffff00,
    0 0 80px #ffff00;
}
